.container {
  display: grid;

  grid-template-rows: [header] 64px [main-content] 1fr;
  grid-template-columns: [sidebar] 52px [main-content] 1fr;
}

.position-static {
  position: static !important;
}

.MuiButton-containedPrimary {
  color: #fff !important;
}
.MuiButton-containedDanger {
  color: #fff !important;
  background-color: #f44336 !important;
}
.MuiButton-root {
  font-weight: bold;
  border-radius: 0px;
}

@media (max-width: 600px) {
  .container {
    grid-template-rows: [header] 64px [main-content] 1fr [sidebar] 52px;
    grid-template-columns: [main-content] 1fr;
  }
}
