* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.hidden-overflow {
  overflow: hidden;
}
html,
body,
#root,
.min-h100 {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Georgia', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
iframe html body {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.p-0 {
  padding: 0;
}
